<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Bienvenue chez nous !</h1>
  <p>Bonjour <%= @user.first_name %>,</p>
  <p>Merci de vous être inscrit sur notre site !</p>
  <p>Cordialement,</p>
  <p>L'équipe de notre site</p>
</body>
</html>